node_modules/
.env
.env.local
.env.production
.env.development

.firebase/
.firebase.json

dist/
build/

.DS_Store

# 🔐 Firebase / Secrets
serviceAccountKey.json


# Firebase config backups
firebase-debug.log
firestore-debug.log
